# Down Sample Tide Data

In [52]:
import pandas as pd
import dask.dataframe as dd
import hvplot.pandas  # noqa
import hvplot.dask  # noqa
import numpy as np
from scipy import stats

In [53]:
import warnings
warnings.filterwarnings('ignore')

In [54]:
from dask.distributed import Client

client = Client("tcp://10.0.128.151:38965")
client

## Read in tide predictions for Central Caldera

In [55]:
!ls /home/jovyan/data/botpt/tidepredictions/

pred_E.txt  pred_F.txt	tidesEasternCaldera.csv

In [56]:
!head /home/jovyan/data/botpt/tidepredictions/pred_F.txt

year month day hour minute second height
2010 01 01 00 00 00 -0.9626
2010 01 01 00 00 15 -0.9654
2010 01 01 00 00 30 -0.9681
2010 01 01 00 00 45 -0.9709
2010 01 01 00 01 00 -0.9736
2010 01 01 00 01 15 -0.9764
2010 01 01 00 01 30 -0.9791
2010 01 01 00 01 45 -0.9818
2010 01 01 00 02 00 -0.9845

In [57]:
tide_fileF = '/home/jovyan/data/botpt/tidepredictions/pred_F.txt'
df_tidesF = pd.read_csv(tide_fileF,header = 0, delim_whitespace=True, dtype = object)

In [58]:
df_tidesF['datetime']=df_tidesF['year'] + '-' + df_tidesF['month'] + '-' + df_tidesF['day'] + \
            'T' + df_tidesF['hour'] + ':' + df_tidesF['minute'] + ':' + df_tidesF['second']
#df_tides_E = pd.DataFrame(tides_E)
df_tidesF.index=pd.to_datetime(df_tidesF['datetime'].values)

In [59]:
del df_tidesF['year']
del df_tidesF['month']
del df_tidesF['day']
del df_tidesF['hour']
del df_tidesF['minute']
del df_tidesF['second']
del df_tidesF['datetime']
#df_tides['height'] = df_tides['height'].astype(float)
#df_tides= df_tides.sort_index()
#df_botpt =df_botpt.loc['2015-05-01 00:00:00':'2019-10-14 00:00:00']
df_tidesF.head()

                      height
2010-01-01 00:00:00  -0.9626
2010-01-01 00:00:15  -0.9654
2010-01-01 00:00:30  -0.9681
2010-01-01 00:00:45  -0.9709
2010-01-01 00:01:00  -0.9736

In [60]:
df_tidesF =df_tidesF.loc['2015-05-01 00:00:00':'2019-10-14 00:00:00']
df_tidesF.head()

Empty DataFrame
Columns: [height]
Index: []

In [50]:
df_tidesF['height'] = df_tidesF['height'].astype(float)
df_tidesF = df_tidesF.resample('60s').mean()
df_tidesF.head()

Empty DataFrame
Columns: [height]
Index: []

In [61]:
df_tidesF.to_csv('/home/jovyan/data/botpt/tidepredictions/tidesCentralCaldera.csv')